.background {
    background-image: url('fondo.jpeg');
}

.skal {
    text-align: center;
    margin-top: 50px;
}

.imagen {
    width: 300px;
}

.cervezas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gusto {
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.button {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.litros {
    background: white;
    color: black;
    font-weight: bold;
    padding: 15px;
    border: 3px solid #008CBA;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
}